@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "../styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 217 40% 96%; /* light (white) */
  --foreground: 0 0% 0%; /* black */
  --gray-foreground: 0 0 60%; /* gray */

  --primary: 272.9 64.85% 46.86%; /* purple */
  --primary-foreground: 0 0% 100%; /* white */

  --secondary: 0 0% 100%; /* white */
  --secondary-foreground: 0 0% 0%; /* black */

  --destructive: 0 73% 51%; /* red */
  --destructive-foreground: 0 0% 100%; /* white */

  --raduis: 6px;

  --navbar-height: 75px;
  --footer-height: 75px;
}

::selection {
  background: hsl(var(--primary) / 0.25);
  color: hsl(var(--primary-foreground));
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Inter", serif;
  direction: rtl;
}
